---
import Main from "../layouts/Main.astro";
---
<Main title="Home">
  <div class="text-red-400">Hello World</div>
  <div>
    Consectetur laborum fugiat dolor culpa ex in veniam deserunt labore sint
    consectetur ad quis reprehenderit. Aliqua cupidatat esse culpa et deserunt
    elit consectetur proident esse et. Voluptate Lorem ipsum et ex voluptate
    anim. Cillum tempor laborum reprehenderit irure eiusmod sit non adipisicing
    consequat dolor laborum aliquip commodo Lorem. Ad non nisi adipisicing
    occaecat velit ullamco. Incididunt cillum fugiat sunt nulla Lorem veniam
    cupidatat amet anim nisi id tempor. Tempor consectetur aute pariatur aliquip
    aute sunt tempor minim cupidatat consectetur esse. Elit labore quis
    adipisicing laboris consectetur labore laborum elit. Duis dolore elit
    nostrud anim laboris laboris. Aute deserunt cillum ullamco fugiat pariatur
    exercitation incididunt. Quis consequat do tempor ut irure proident aliqua
    ipsum veniam consectetur Lorem laborum anim. Commodo adipisicing cillum amet
    est incididunt sint sit nostrud incididunt anim dolor. Laboris enim ea dolor
    eiusmod dolore. Pariatur cillum velit mollit enim do dolore incididunt enim
    esse. Non magna ullamco et sunt enim aute laborum eiusmod et amet enim sit
    minim ipsum.
  </div>
</Main>
